<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App Environment</key>
	<string>${APP_ENVIRONMENT}</string>
	<key>Core Data Model Name</key>
	<string>E-commerceModel</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>Server Url</key>
	<string>${SERVER_URL}</string>
	<key>Url Path Store</key>
	<string>e-commerce.sqlite</string>
</dict>
</plist>
